.scene
  .cube-wrapper
    .cube
      .cube-faces
        .cube-face.shadow
        .cube-face.bottom
        .cube-face.top
        .cube-face.left
        .cube-face.right
        .cube-face.back
        .cube-face.front